#park_list_box {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 10px 4px;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 40px); }

#park_list_header_label {
  text-align: left; }

.park_list_row {
  width: 100%;
  height: 70px;
  padding: 5px 0;
  border-bottom: 1px solid #dedede;
  display: flex;
  align-items: center; }
  .park_list_row:active {
    transform: scale(1.05); }
  .park_list_row .park_list_row_part_1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 50px; }
    .park_list_row .park_list_row_part_1 .park_available_count {
      position: relative;
      float: left;
      height: 40px;
      width: 40px;
      border-radius: 20px;
      background-color: #06b7ff;
      color: #fff;
      font-size: 22px;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 9px;
      transition: all 300ms cubic-bezier(0.495, 0.115, 0.24, 1.035);
      transform: translateY(0px) scale(1); }
      .park_list_row .park_list_row_part_1 .park_available_count .special_tag {
        position: absolute;
        font-size: 10px;
        color: #fff;
        background-color: #b74ecc;
        padding: 0 4px;
        border-radius: 4px;
        top: 0;
        left: 0;
        transform: translate(20px, -10px);
        font-weight: 700;
        letter-spacing: 0.06rem; }
      .park_list_row .park_list_row_part_1 .park_available_count .vip_user_tag {
        position: absolute;
        font-size: 10px;
        color: #730b00;
        background-color: #e8412f;
        padding: 0;
        border-radius: 15px;
        top: 0;
        left: 0;
        transform: translate(27px, -10px);
        font-weight: 700;
        letter-spacing: 0.06rem;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(125deg, #afaa04 0%, #eecc0a 29%, #e2ac09 50%, #f5c00b 66%, #ffcd00 100%);
        text-shadow: 1px 1px white; }
    .park_list_row .park_list_row_part_1 .park_available_count.big {
      transform: translateY(-10px) scale(1.5); }
    .park_list_row .park_list_row_part_1 .park_available_label {
      font-size: 12px;
      font-weight: 400;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center; }
  .park_list_row .park_list_row_part_2 {
    flex: 1;
    padding-left: 5px;
    padding-right: 3px;
    height: 100%;
    display: flex;
    flex-direction: column; }
    .park_list_row .park_list_row_part_2 .park_address,
    .park_list_row .park_list_row_part_2 .park_name {
      height: 50%;
      font-size: 14px;
      letter-spacing: 0.02rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      /*
      
      BITNO BITNO BITNO BITNO BITNO BITNO BITNO 
      kasnije vrati nazad na flex-start kada se pojave parking mjesta indoor !!!!!!!
      justify-content: flex-start;
      */
      justify-content: center;
      color: #007be3; }
    .park_list_row .park_list_row_part_2 .park_name,
    .park_list_row .park_list_row_part_2 .park_distance_and_state {
      font-size: 12px;
      font-weight: 600; }
    .park_list_row .park_list_row_part_2 .park_distance_and_state {
      font-weight: 600;
      display: flex;
      align-items: center; }
    .park_list_row .park_list_row_part_2 .park_distance {
      width: 50%;
      float: left;
      display: flex;
      align-items: center;
      /*
      
      BITNO BITNO BITNO BITNO BITNO BITNO BITNO 
      kasnije vrati nazad na flex-start kada se pojave parking mjesta indoor !!!!!!!
      justify-content: flex-start;
      */
      justify-content: center;
      color: #666;
      flex: 1; }
    .park_list_row .park_list_row_part_2 .park_indoor {
      width: 50%;
      float: left;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: #666;
      flex: 1; }
      .park_list_row .park_list_row_part_2 .park_indoor i {
        margin-left: 5px;
        color: #666; }
    .park_list_row .park_list_row_part_2 .book_indicator {
      width: 50%;
      float: left;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: #e84030;
      flex: 1; }
      .park_list_row .park_list_row_part_2 .book_indicator i {
        margin-left: 5px;
        color: red; }
    .park_list_row .park_list_row_part_2 .parking_indicator {
      width: 50%;
      float: left;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      background-color: #024072;
      flex: 1;
      border-radius: 10px; }
      .park_list_row .park_list_row_part_2 .parking_indicator i {
        margin-left: 5px;
        color: #fff; }
    .park_list_row .park_list_row_part_2 .closed_indicator {
      width: 50%;
      float: left;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      background-color: #e8412f;
      flex: 1;
      border-radius: 10px; }
      .park_list_row .park_list_row_part_2 .closed_indicator i {
        margin-left: 5px;
        color: #fff; }
  .park_list_row .park_list_row_part_3 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 50px; }
    .park_list_row .park_list_row_part_3 .navigate_icon_buton {
      height: 40px;
      width: 40px;
      font-size: 22px;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #04b7ff;
      margin-top: 9px;
      background-color: #f1efed;
      border-radius: 20px;
      transition: all 0.3s ease-in 0.7s;
      will-change: transform;
      transform: translate(0, 0); }
      .park_list_row .park_list_row_part_3 .navigate_icon_buton i {
        font-size: 22px; }
    .park_list_row .park_list_row_part_3 .navigate_button_label {
      font-size: 12px;
      font-weight: 400;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center; }
  .park_list_row .park_list_row_part_4 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
    .park_list_row .park_list_row_part_4 .park_place_price {
      height: 40px;
      width: 40px;
      font-size: 22px;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #04b7ff;
      margin-top: 9px; }
    .park_list_row .park_list_row_part_4 .park_place_currency {
      font-size: 12px;
      font-weight: 400;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center; }

/*# sourceMappingURL=park_list_module.css.map */
