#msg_stari_korisnici_box {
  padding: 7px;
  background-color: #e8412f;
  color: #fff;
  font-size: 15px;
  margin-bottom: 14px;
  border-radius: 10px; }
  #msg_stari_korisnici_box .fas {
    display: block;
    padding: 5px;
    font-size: 30px; }

/*# sourceMappingURL=we_login_module.css.map */
