#account_page {
  background: #0e68b4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #034072 10%, #0e68b4 50%, #0e68b4 50%, #44fffb 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #034072 10%, #0e68b4 50%, #0e68b4 50%, #44fffb 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #034072 10%, #0e68b4 50%, #0e68b4 50%, #44fffb 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  font-family: 'Titillium Web';
  font-weight: 400; }

#account_page_body {
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }

#choose_offer_box {
  height: 0;
  width: 290px;
  min-width: 100%;
  overflow: hidden;
  background-color: #034072;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  padding: 0;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  /*
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  */
  position: relative;
  box-sizing: border-box;
  z-index: 111; }
  #choose_offer_box #offer_drop_list_explanation {
    padding: 10px;
    padding-bottom: 2px;
    font-size: 11px;
    color: #fff;
    letter-spacing: 0.03rem; }
  #choose_offer_box #cijena_odabranog_paketa {
    padding: 30px 10px 0px;
    font-size: 30px;
    color: #fff;
    line-height: 13px;
    height: 65px; }
    #choose_offer_box #cijena_odabranog_paketa .offer_banner {
      font-size: 15px;
      display: flex;
      background-color: #00f4ff;
      padding: 10px;
      padding-right: 25px;
      align-items: center;
      justify-content: center;
      max-width: 220px;
      margin: 0 auto;
      height: 40px;
      box-sizing: border-box;
      letter-spacing: 0.05rem;
      border-radius: 20px;
      color: black;
      font-weight: 700;
      box-shadow: inset 0 0 9px #7013ea;
      position: relative;
      transform: scale(0);
      transition: transform 0.3s ease-in; }
      #choose_offer_box #cijena_odabranog_paketa .offer_banner .perc_circle {
        position: absolute;
        right: -10px;
        top: -10px;
        background-color: #e8412f;
        width: 54px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        border-radius: 27px;
        color: #fff;
        font-weight: 300;
        transform: scale(0);
        transition: transform 0.3s ease-in 0.2s; }
  #choose_offer_box #cijena_odabranog_paketa.cit_visible .offer_banner {
    transform: scale(1); }
    #choose_offer_box #cijena_odabranog_paketa.cit_visible .offer_banner .perc_circle {
      transform: scale(1); }
  #choose_offer_box #offer_desc {
    padding: 3px 10px 10px;
    font-size: 11px;
    color: #fff;
    letter-spacing: 0.03rem; }

.avail_to_buy {
  background-color: #00f4ff;
  color: #034071;
  font-weight: 700;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }

#choose_offer_list .we_drop_list_item {
  height: 24px; }

#add_to_balance_input {
  transition: all 0.3s ease;
  opacity: 1;
  pointer-events: all; }

#add_to_balance_input.cit_hide {
  opacity: 0;
  pointer-events: none;
  height: 0; }

#we_voucher_box {
  height: 0px;
  width: 80%;
  min-width: 250px;
  overflow: hidden;
  background-color: #034072;
  transition: all 0.3s ease-in-out;
  padding: 0;
  margin: 0 auto;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  box-sizing: border-box; }

#close_voucher_box {
  float: right;
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 20px;
  clear: both;
  cursor: pointer;
  transform: translate(-50%, 0) scale(1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 7px;
  left: 50%;
  transition: transform 0.2s ease; }
  #close_voucher_box:active {
    transform: translate(-50%, 0) scale(0.95); }

#we_credit_card_box {
  height: 0;
  width: 290px;
  min-width: 290px;
  overflow: hidden;
  background-color: #034072;
  transition: all 0.3s ease-in-out;
  padding: 0 20px;
  margin: 0 auto;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  z-index: 222; }

#close_credit_card_box {
  float: right;
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 20px;
  clear: both;
  cursor: pointer;
  transform: translate(-50%, 0) scale(1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 7px;
  left: 50%;
  transition: transform 0.2s ease; }
  #close_credit_card_box:active {
    transform: translate(-50%, 0) scale(0.95); }

#monthly_products_box {
  text-align: center;
  margin: 10px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 290px; }
  #monthly_products_box .monthly_product {
    font-size: 16px;
    color: #fff;
    font-family: 'Titillium Web';
    font-weight: 400;
    position: relative;
    width: 100%;
    margin: 0;
    line-height: 20px;
    display: flex;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    margin-bottom: 5px; }
    #monthly_products_box .monthly_product .monthly_pp_icon_box {
      width: 27%;
      height: 40px;
      font-size: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 40px;
      border-right: 1px solid rgba(255, 255, 255, 0.36);
      box-sizing: border-box;
      font-weight: 200; }
      #monthly_products_box .monthly_product .monthly_pp_icon_box .we_inf_icon {
        display: block;
        width: 75%;
        margin-left: -9px; }
      #monthly_products_box .monthly_product .monthly_pp_icon_box span {
        font-size: 16px;
        margin-left: 5px;
        font-weight: 200; }
    #monthly_products_box .monthly_product .pp_name_and_valid_to_box {
      width: 73%;
      height: 40px;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      #monthly_products_box .monthly_product .pp_name_and_valid_to_box .park_name {
        width: 100%;
        height: 20px;
        text-align: left;
        padding-left: 10px;
        box-sizing: border-box; }
      #monthly_products_box .monthly_product .pp_name_and_valid_to_box .monthly_valid_to {
        width: 100%;
        height: 20px;
        text-align: left;
        padding-left: 10px;
        box-sizing: border-box;
        font-size: 10px;
        letter-spacing: 0.05rem; }
  #monthly_products_box #monthly_products_label {
    color: #fff;
    margin-bottom: 3px; }

#account_balance_box {
  text-align: center;
  margin: 10px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 290px; }
  #account_balance_box #account_balance_number {
    font-size: 60px;
    color: #fff;
    font-family: 'Titillium Web';
    font-weight: 200;
    position: relative;
    width: auto;
    margin: 0 auto;
    line-height: 66px; }
    #account_balance_box #account_balance_number #currency_label {
      width: 50px;
      color: #fff;
      font-size: 16px;
      position: absolute;
      right: -52px;
      bottom: 7%;
      text-align: left;
      line-height: normal;
      letter-spacing: 0.05rem; }
  #account_balance_box #account_balance_label {
    color: #fff; }

#voucher_and_credit_card_buttons_box {
  display: flex;
  width: 100%;
  margin: 10px auto 0; }

.account_btn {
  background-color: #e8412f;
  color: #fff;
  width: 200px;
  margin: 10px auto 0;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.07rem;
  transform: scale(1); }
  .account_btn:active {
    transform: scale(0.95); }

#account_form {
  width: 290px;
  box-sizing: border-box;
  margin: 10px auto;
  padding: 20px;
  background-color: #034072;
  border-radius: 10px;
  height: auto;
  max-height: 100%;
  overflow-y: auto; }

#show_login_or_register_box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  flex-direction: column;
  letter-spacing: 0.08rem;
  line-height: normal;
  text-align: center; }

#pass_section,
#full_name_and_email_section {
  height: 200px;
  overflow: hidden;
  max-height: 96px;
  transition: all 0.3s ease-in; }

.we_label {
  font-size: 11px;
  color: #fff;
  letter-spacing: 0.05rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 2px;
  text-align: center; }

.we_account_input {
  border: 1px solid #fff;
  height: 24px;
  width: 100%;
  padding: 0px 10px;
  display: block;
  box-sizing: border-box;
  border-radius: 12px;
  color: #fff;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 6px;
  background-color: transparent;
  letter-spacing: 0.08rem;
  font-family: 'Titillium Web';
  font-weight: 400;
  text-align: center; }

/*# sourceMappingURL=account_module.css.map */
