#park_place_body {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 40px);
  background-color: #fff;
  position: relative; }
  #park_place_body #help_tel_num_on_top {
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5555;
    width: 220px;
    height: 30px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    display: flex;
    font-weight: 400;
    letter-spacing: 0.02rem;
    background-color: #034072;
    padding: 0 20px 8px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-transform: none;
    text-decoration: none;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px; }
    #park_place_body #help_tel_num_on_top img {
      display: block;
      height: 60%;
      width: auto;
      margin-right: 6px;
      margin-top: 0; }
  #park_place_body #parking_timer_box {
    font-family: 'Titillium Web';
    width: 200px;
    height: 200px;
    position: absolute;
    top: 35px;
    left: 50%;
    margin-left: -100px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; }
    #park_place_body #parking_timer_box #parking_timer_label {
      width: 220px;
      height: 24px;
      margin-bottom: 10px;
      color: #fff;
      font-size: 16px;
      text-align: center;
      font-weight: 400;
      letter-spacing: 0.02rem;
      background-color: #05b7ff;
      border-radius: 10px;
      padding: 0 20px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center; }
    #park_place_body #parking_timer_box #parking_timer {
      width: 130px;
      height: 130px;
      border-radius: 65px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #04b7ff;
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 0.09rem;
      line-height: 20px;
      box-sizing: border-box;
      padding-top: 13px;
      border: 6px solid #05b7ff;
      text-align: center; }
  #park_place_body #parking_timer_box.cit_hide #parking_timer_label {
    transition: all 0.3s ease;
    transform: scale(0); }
  #park_place_body #parking_timer_box.cit_hide #parking_timer {
    transition: all 0.3s ease 0.8s;
    transform: scale(0); }
  #park_place_body #parking_timer_box.cit_show #parking_timer_label {
    transition: all 0.3s ease;
    transform: scale(1); }
  #park_place_body #parking_timer_box.cit_show #parking_timer {
    transition: all 0.3s ease 0.2s;
    transform: scale(1); }

#park_place_page.cit_hide.cit_top #park_place_image_box {
  overflow: hidden;
  width: 100%;
  height: 40%;
  transform: translate(0, -30%);
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  will-change: transform;
  background-color: #043f72; }
  #park_place_page.cit_hide.cit_top #park_place_image_box img {
    display: block;
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.7s ease-out 0.1s;
    transform: translate(-50%, -70%) scale(1.2);
    will-change: transform; }
  #park_place_page.cit_hide.cit_top #park_place_image_box #park_page_curve {
    position: absolute;
    bottom: 0;
    margin-bottom: -2px;
    left: 0;
    z-index: 2;
    width: 101%;
    height: 100px;
    transition: all 0.5s ease-in-out 0.2s;
    will-change: transform;
    transform: translateY(50px) scaleY(0);
    transform-origin: 50% 100%;
    background-image: url("../../img/park_page_curve.png");
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat; }

#park_place_page.cit_active #park_place_image_box {
  overflow: hidden;
  width: 100%;
  height: 40%;
  transform: translate(0, 0);
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  will-change: transform;
  background-color: #043f72; }
  #park_place_page.cit_active #park_place_image_box img {
    display: block;
    width: 120%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.7s ease-out 0.1s;
    transform: translate(-50%, -50%) scale(1);
    will-change: transform; }
  #park_place_page.cit_active #park_place_image_box #park_page_curve {
    position: absolute;
    bottom: 0;
    margin-bottom: -2px;
    left: 0;
    z-index: 2;
    width: 101%;
    height: 100px;
    transition: all 0.5s ease-in-out 0.2s;
    will-change: transform;
    transform: translateY(0px) scaleY(1);
    transform-origin: 50% 100%;
    background-image: url("../../img/park_page_curve.png");
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat; }

#book_timer {
  width: 100%;
  height: 40px;
  font-size: 20px;
  display: flex;
  color: red;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  transition: all 0.3s ease;
  transform: scale(1);
  margin-top: 10px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center; }
  #book_timer span {
    display: flex;
    align-items: center;
    height: 100%;
    line-height: 20px;
    font-size: 10px;
    letter-spacing: 0.05rem;
    color: #333;
    box-sizing: border-box;
    padding-top: 5px; }

#book_timer.cit_show {
  transform: scale(1);
  height: 40px; }

#book_timer.cit_hide {
  transform: scale(0);
  height: 0px; }

#select_book_duration {
  font-family: 'Titillium Web';
  width: 100%;
  height: 40px;
  font-size: 20px;
  display: flex;
  color: #0e68b4;
  justify-content: center;
  align-items: center;
  overflow: visible;
  transition: all 0.3s ease;
  transform: scale(1);
  margin-top: 10px;
  position: relative; }
  #select_book_duration #minus_book_duration_btn,
  #select_book_duration #plus_book_duration_btn {
    width: 40px;
    height: 40px;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1); }
    #select_book_duration #minus_book_duration_btn:active,
    #select_book_duration #plus_book_duration_btn:active {
      transform: scale(0.9); }
  #select_book_duration #display_book_duration {
    width: 150px;
    height: 40px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: 17px;
    line-height: 40px; }
    #select_book_duration #display_book_duration #book_duration_num {
      font-size: 28px;
      margin-right: 5px;
      margin-left: 12px; }
  #select_book_duration #booking_explanation {
    position: absolute;
    font-size: 10px;
    bottom: -16px;
    font-weight: 700;
    letter-spacing: 0.05rem;
    width: 100%;
    text-align: center;
    z-index: 10px; }

#select_book_duration.cit_show {
  transform: scale(1);
  height: 40px; }

#select_book_duration.cit_hide {
  transform: scale(0);
  height: 0px; }

.pp_button {
  background-color: #e8412f;
  color: #fff;
  width: auto;
  margin: 10px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.07rem;
  transform: scale(1);
  float: left;
  clear: both;
  width: calc(100% - 20px); }
  .pp_button i {
    margin-right: 10px; }
  .pp_button:active {
    transform: scale(0.95); }

#ramp_not_open_btn {
  background-color: transparent;
  color: #0e68b4;
  flex: 1;
  position: relative;
  overflow: hidden;
  height: 0;
  margin: 0;
  width: 100%; }

.pp_button.cit_animate {
  transition: all 0.2s ease; }
  .pp_button.cit_animate:active {
    transform: scale(0.95); }

.pp_button.cit_show {
  transform: scale(1); }

#ramp_not_open_btn.cit_show {
  transform: scale(1);
  height: 80px;
  display: flex;
  flex-direction: column;
  margin: 40px 0 80px; }
  #ramp_not_open_btn.cit_show #help_tel_num {
    padding: 0 20px;
    text-decoration: none;
    background-color: #0e68b4;
    color: #fff;
    margin-top: 10px;
    display: block;
    border-radius: 20px; }

@keyframes shake-animation {
  0% {
    transform: translate(0, 0); }
  1.78571% {
    transform: translate(7px, 0); }
  3.57143% {
    transform: translate(0, 0); }
  5.35714% {
    transform: translate(7px, 0); }
  7.14286% {
    transform: translate(0, 0); }
  8.92857% {
    transform: translate(7px, 0); }
  10.71429% {
    transform: translate(0, 0); }
  100% {
    transform: translate(0, 0); } }
#blink_sto_je_ovo {
  position: absolute;
  top: -7px;
  left: 18%;
  background-color: #e8412f;
  padding: 5px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  transform: translate(-50%, 0);
  width: 100%;
  text-align: center;
  letter-spacing: 0.1rem;
  height: 20px;
  display: flex;
  animation: shake-animation 4.72s ease infinite;
  align-items: center;
  justify-content: center; }

#enter_pp_btn,
#exit_pp_btn,
#open_barrier_btn,
#close_barrier_btn {
  height: 100px;
  width: 100px;
  margin: 0;
  border-radius: 34px;
  position: relative;
  overflow: visible; }
  #enter_pp_btn .ramp_icon_box,
  #enter_pp_btn .barrier_icon_box,
  #exit_pp_btn .ramp_icon_box,
  #exit_pp_btn .barrier_icon_box,
  #open_barrier_btn .ramp_icon_box,
  #open_barrier_btn .barrier_icon_box,
  #close_barrier_btn .ramp_icon_box,
  #close_barrier_btn .barrier_icon_box {
    width: 50%;
    height: 50%;
    display: block; }
    #enter_pp_btn .ramp_icon_box img,
    #enter_pp_btn .barrier_icon_box img,
    #exit_pp_btn .ramp_icon_box img,
    #exit_pp_btn .barrier_icon_box img,
    #open_barrier_btn .ramp_icon_box img,
    #open_barrier_btn .barrier_icon_box img,
    #close_barrier_btn .ramp_icon_box img,
    #close_barrier_btn .barrier_icon_box img {
      width: 100%;
      height: auto;
      margin-top: 0;
      display: block; }
  #enter_pp_btn i,
  #exit_pp_btn i,
  #open_barrier_btn i,
  #close_barrier_btn i {
    margin: 0;
    font-size: 34px; }
  #enter_pp_btn span,
  #exit_pp_btn span,
  #open_barrier_btn span,
  #close_barrier_btn span {
    display: block;
    position: absolute;
    z-index: 55;
    bottom: 12px;
    color: #fff;
    left: 50%;
    width: 200px;
    transform: translateX(-50%);
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.1rem; }

.pp_button.cit_hide {
  transform: scale(0);
  height: 0; }

#enter_pp_btn.cit_hide,
#exit_pp_btn.cit_hide,
#open_barrier_btn.cit_hide,
#close_barrier_btn.cit_hide {
  display: none; }

#park_place_info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: #fff;
  z-index: 222;
  /*border-top: 1px solid #dedede;*/
  /*box-shadow: 0px 11px 20px rgba(0, 0, 0, 0.1);*/
  transform: translate(0, 120vh);
  will-change: transform;
  display: flex;
  align-items: center; }
  #park_place_info #park_place_row_data {
    width: 100%;
    height: auto;
    padding: 0 15px;
    box-sizing: border-box;
    position: absolute;
    top: 5px;
    left: 0; }
    #park_place_info #park_place_row_data .park_list_row {
      border: 0px solid transparent; }
    #park_place_info #park_place_row_data .park_list_row_part_3 {
      width: 50px;
      transition: all 0.3s ease; }
      #park_place_info #park_place_row_data .park_list_row_part_3 .navigate_icon_buton {
        transition: all 0.3s ease-in;
        transform: translate(0, 0);
        background-color: #f1efed;
        color: #04b7ff;
        z-index: 99; }
      #park_place_info #park_place_row_data .park_list_row_part_3 .navigate_button_label {
        display: none; }
    #park_place_info #park_place_row_data .park_list_row_part_3.cit_animate {
      width: 0px; }
      #park_place_info #park_place_row_data .park_list_row_part_3.cit_animate .navigate_icon_buton {
        transform: translate(20px, -65px);
        background-color: #04b7ff;
        color: #fff; }
      #park_place_info #park_place_row_data .park_list_row_part_3.cit_animate .navigate_button_label {
        display: none; }
    #park_place_info #park_place_row_data .park_list_row_part_2 .park_address,
    #park_place_info #park_place_row_data .park_list_row_part_2 .park_name {
      justify-content: center; }
    #park_place_info #park_place_row_data .park_list_row_part_2 .park_distance {
      justify-content: center;
      box-sizing: border-box; }
    #park_place_info #park_place_row_data .park_list_row_part_2 .park_indoor {
      justify-content: center;
      box-sizing: border-box; }
  #park_place_info #park_place_buttons_box {
    width: 100%;
    height: auto;
    transform-origin: 50% 0;
    transition: all 0.3s ease;
    transform: rotateX(90deg);
    margin-top: 20px; }
    #park_place_info #park_place_buttons_box #book_and_stop_book_box {
      display: flex;
      align-items: center;
      position: relative;
      height: 60px;
      width: 100%;
      float: left;
      clear: both; }
    #park_place_info #park_place_buttons_box #start_park_and_stop_park_box {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 100px;
      width: 100%;
      float: left;
      clear: both;
      box-sizing: border-box;
      padding: 0 40px; }

#park_place_info.cit_animate {
  transition: all 0.5s ease-in;
  transform: translate(0, 100vh);
  will-change: transform;
  background-color: #fff; }

/*# sourceMappingURL=park_page_module.css.map */
