html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #034072; }

textarea, select, input, button {
  outline: none; }

body {
  /* font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Titillium Web';
  font-weight: 400;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  background-color: #fff; }

.blink_me {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

@-moz-keyframes blinker {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
@-webkit-keyframes blinker {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
@keyframes blinker {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
#barrier_map {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 999992;
  background-color: #fff;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  color: #333;
  transform: scale(0.6);
  transition: all 0.4s ease;
  transform-origin: 90% 95%;
  opacity: 0;
  pointer-events: none;
  border-radius: 0;
  will-change: transform, opacity; }
  #barrier_map #barrier_map_controlls {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    #barrier_map #barrier_map_controlls .bar_map_control_btn {
      width: 34px;
      height: 34px;
      border-radius: 17px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      background-color: #0e68b4;
      transition: all 0.2s ease;
      transform: scale(1); }
      #barrier_map #barrier_map_controlls .bar_map_control_btn:active {
        transform: scale(0.6); }
      #barrier_map #barrier_map_controlls .bar_map_control_btn i {
        font-size: 18px;
        color: #fff; }
  #barrier_map #panzoom_parent {
    width: 100%;
    height: calc(100% - 50px); }
    #barrier_map #panzoom_parent #barrier_image_wrapper {
      width: 100%;
      height: auto;
      position: relative; }
      #barrier_map #panzoom_parent #barrier_image_wrapper .bar_btn_on_map {
        position: absolute;
        z-index: 999;
        width: 30px;
        height: 30px;
        font-size: 13px;
        font-weight: 700;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        /*
        background-color: #0e68b4;
        border-radius: 15px;
        */
        background-image: url("../img/barrier_triangle.svg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        box-sizing: border-box;
        padding-top: 7px; }
      #barrier_map #panzoom_parent #barrier_image_wrapper .bar_btn_on_map.blink_me {
        background-image: url("../img/barrier_triangle_red.svg"); }
      #barrier_map #panzoom_parent #barrier_image_wrapper img {
        width: 100%;
        height: auto; }

#popup_reklama_za_barijere {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 999991;
  background-color: #0f68b4;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  color: #333;
  transform: scale(0.6) translate(0px, 0px);
  transform-origin: 0% 0%;
  opacity: 0;
  pointer-events: none;
  border-radius: 160px;
  will-change: transform; }
  #popup_reklama_za_barijere .reklama_close_box {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; }
  #popup_reklama_za_barijere #reklama_close_btn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; }
  #popup_reklama_za_barijere .reklama_scroll_box {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
    margin: 60px 0;
    padding: 0 20px;
    box-sizing: border-box; }
  #popup_reklama_za_barijere .we_card {
    width: 100%;
    float: left;
    padding: 0px;
    clear: both;
    margin: 30px 0; }
    #popup_reklama_za_barijere .we_card .we_bullet_num {
      float: left;
      width: 40px; }
    #popup_reklama_za_barijere .we_card .we_bullet_text {
      float: left;
      margin-left: 0px;
      width: calc(100% - 40px);
      text-align: left; }
    #popup_reklama_za_barijere .we_card .reklama_big_title {
      font-size: 30px;
      color: #034071; }
    #popup_reklama_za_barijere .we_card .reklama_big_podnaslov {
      font-size: 20px;
      color: #00a3e6; }
    #popup_reklama_za_barijere .we_card .we_medium_image {
      width: 80%;
      height: auto;
      display: block;
      margin: 0 auto; }
    #popup_reklama_za_barijere .we_card .card-body {
      width: 100%;
      float: left;
      clear: both;
      color: #034070; }
      #popup_reklama_za_barijere .we_card .card-body .card-title {
        font-weight: 700;
        font-size: 22px; }
      #popup_reklama_za_barijere .we_card .card-body p {
        font-weight: 400;
        font-size: 16px; }

#popup_reklama_za_barijere.cit_animate {
  transition: all 0.6s ease-in;
  will-change: transform; }

#we_global_loader_overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 32, 59, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s ease-in;
  opacity: 0;
  pointer-events: none; }
  #we_global_loader_overlay #loader_we_global {
    display: block; }
  #we_global_loader_overlay #loader_we_global_text {
    margin-top: 40px;
    color: #fff;
    font-size: 13px;
    padding: 4px 20px;
    box-sizing: border-box;
    height: 30px;
    border-radius: 15px;
    background-color: #e8412e;
    display: flex;
    align-items: center;
    letter-spacing: 0.06rem;
    max-width: 250px;
    width: 100%;
    text-align: center;
    justify-content: center; }
  #we_global_loader_overlay #stop_we_global_loader_btn {
    margin-top: 60px;
    padding: 0;
    box-sizing: border-box;
    height: 30px;
    border-radius: 20px;
    background-color: #e8412e;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    text-align: center;
    justify-content: center; }
    #we_global_loader_overlay #stop_we_global_loader_btn i {
      color: #fff;
      font-size: 16px; }
  #we_global_loader_overlay #we_global_loader_progress {
    position: absolute;
    bottom: 80px;
    left: 50%;
    width: 80%;
    height: 6px;
    border-radius: 3px;
    transform: translateX(-50%);
    box-sizing: border-box;
    max-width: 250px;
    background-color: rgba(232, 65, 46, 0.3); }
    #we_global_loader_overlay #we_global_loader_progress #we_progress_prec {
      z-index: 55;
      width: 20%;
      height: 6px;
      border-radius: 3px;
      top: 0;
      left: 0;
      position: absolute;
      box-sizing: border-box;
      background-color: #e8412e; }

#we_global_loader_overlay.cit_show {
  opacity: 1;
  pointer-events: all; }

#we_directions_panel_wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 250px;
  opacity: 0;
  pointer-events: none;
  transform: translate(0, 200px);
  transition: all 0.3s ease-in;
  will-change: transform;
  z-index: 999; }
  #we_directions_panel_wrapper #show_directions_panel_btn {
    position: absolute;
    z-index: 999;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    height: 30px;
    width: 60px;
    top: -30px;
    left: 50%;
    margin-left: -30px;
    background-color: #034072;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in; }
    #we_directions_panel_wrapper #show_directions_panel_btn i {
      color: #fff;
      font-size: 30px;
      transform: rotateX(0deg);
      transition: all 0.2s ease; }
  #we_directions_panel_wrapper #we_directions_panel {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto; }

#we_directions_panel_wrapper.cit_visible {
  transform: translate(0, -50px); }
  #we_directions_panel_wrapper.cit_visible #show_directions_panel_btn {
    background-color: #fff; }
    #we_directions_panel_wrapper.cit_visible #show_directions_panel_btn i {
      color: #777;
      transform: rotateX(180deg); }

.lang_flag {
  display: block;
  width: 30px;
  height: auto;
  margin: 0 10px; }

#we_side_nav {
  position: absolute;
  top: 0;
  z-index: 55555555;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  will-change: opacity; }
  #we_side_nav #side_nav_content {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 230px;
    background-color: #fff;
    font-family: 'Titillium Web';
    font-size: 13px;
    color: #444;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 4px -4px 13px black;
    transform: translate(110%, 0);
    transition: transform 0.3s ease-out;
    will-change: transform;
    box-sizing: border-box; }
    #we_side_nav #side_nav_content #side_nav_logo {
      display: block;
      width: 140px;
      height: auto;
      margin: 20px auto; }
    #we_side_nav #side_nav_content .side_nav_row {
      width: 100%;
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;
      height: auto;
      min-height: 30px;
      margin: 0;
      margin-top: -1px;
      box-sizing: border-box;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start; }
    #we_side_nav #side_nav_content #screen_size_and_ver {
      position: absolute;
      bottom: -1px;
      justify-content: center; }
    #we_side_nav #side_nav_content .we_lang_btn {
      transition: all 0.1s ease;
      transform: scale(1);
      background-color: #fff; }
    #we_side_nav #side_nav_content .we_lang_btn:active {
      transform: scale(1.05); }
    #we_side_nav #side_nav_content .we_lang_btn.cit_active {
      box-shadow: inset 0 -10px 10px rgba(0, 0, 0, 0.02);
      background-color: #f1f1f1;
      box-shadow: unset; }

#we_side_nav.cit_visible {
  pointer-events: all;
  opacity: 1; }
  #we_side_nav.cit_visible #side_nav_content {
    transform: translate(0, 0); }

.big_page {
  width: 100%;
  height: calc( 100% - 50px);
  position: absolute;
  transform: scale(1);
  transition: all 0.3s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  will-change: transform;
  z-index: 1; }

#close_iframe_box {
  position: absolute;
  z-index: 999;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  height: 30px;
  width: 60px;
  bottom: 0;
  left: 50%;
  margin-left: -30px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding-top: 5px; }
  #close_iframe_box i {
    color: #777;
    font-size: 20px;
    transform: scale(1);
    transition: all 0.2s ease; }

#close_card_iframe_box:active i {
  transform: scale(0.9); }

#card_iframe {
  width: 100%;
  height: 100%;
  border: 0px solid transparent;
  margin: 0;
  padding: 0; }

.big_page.cit_active {
  top: 0;
  left: 0;
  transform: translate(0, 0) scale(1);
  opacity: 1;
  will-change: transform, opacity;
  z-index: 5; }

.big_page.cit_hide {
  transform: translate(0, 0) scale(0.9);
  opacity: 0;
  will-change: transform, opacity;
  z-index: 1; }

.big_page.cit_hide.cit_left {
  transform: translate(-110%, 0) scale(0.9);
  opacity: 0;
  will-change: transform, opacity;
  z-index: 1; }

.big_page.cit_hide.cit_right {
  transform: translate(110%, 0) scale(0.9);
  opacity: 0;
  will-change: transform, opacity;
  z-index: 1; }

.big_page.cit_hide.cit_top {
  transform: translate(0, -110%) scale(0.9);
  opacity: 0;
  will-change: transform, opacity;
  z-index: 1; }

.big_page.cit_hide.cit_bottom {
  transform: translate(0, 110%) scale(0.9);
  will-change: transform;
  z-index: 1; }

.big_page_header {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  padding: 0 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1rem;
  display: flex;
  background-color: #034072;
  align-items: center;
  justify-content: center;
  text-align: center; }

.we_drop_list {
  height: 20px;
  font-size: 12px;
  color: #fff;
  padding: 0 20px 0 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  position: relative; }
  .we_drop_list .we_drop_list_arrow {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 6px;
    height: 6px;
    font-size: 10px;
    color: #fff;
    z-index: 999;
    transition: all 0.2s ease-in;
    transform: rotate(0deg);
    display: flex;
    align-items: center;
    justify-content: center; }
    .we_drop_list .we_drop_list_arrow i {
      min-width: 0;
      min-height: 0;
      padding: 0;
      margin: 0; }
  .we_drop_list .we_drop_list_items {
    overflow: hidden;
    height: 19px;
    position: absolute;
    top: 1px;
    right: 20px;
    transition: all 0.2s ease-in;
    background-color: #034072;
    padding: 0 5px;
    z-index: 888;
    border-radius: 10px; }
    .we_drop_list .we_drop_list_items .we_drop_list_item {
      padding: 2px;
      border-bottom: 1px solid #0a76d1;
      height: 20px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 12px;
      white-space: nowrap;
      letter-spacing: 0.05rem;
      transition: height 0.2s ease; }
      .we_drop_list .we_drop_list_items .we_drop_list_item:active {
        background-color: #0194ff; }

.we_menu_icon {
  font-size: 20px;
  color: #fff;
  margin-left: 10px;
  z-index: 5; }

.we_menu_back_arrow {
  font-size: 20px;
  color: #fff;
  margin-right: 14px; }

#main_bottom_menu {
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background-color: #034072;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999990;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif; }
  #main_bottom_menu .bottom_menu_btn {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    /*background-color: #fff;*/
    /*color: #034072;*/
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: all 0.3s ease;
    position: relative;
    flex: 1; }
    #main_bottom_menu .bottom_menu_btn:active {
      transform: scale(0.5); }
    #main_bottom_menu .bottom_menu_btn #barrier_map_btn_tooltip_triangle {
      z-index: 999;
      overflow: visible;
      width: 20px;
      height: 20px;
      border-radius: 2px;
      transform: rotate(45deg) scale(0);
      transform-origin: 100% 100%;
      position: absolute;
      top: -15px;
      left: 50%;
      margin-left: -19px;
      background-color: #b74ecc;
      color: #fff;
      border-top-left-radius: 0;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 0;
      transition: transform 0.3s ease-in;
      pointer-events: none; }
      #main_bottom_menu .bottom_menu_btn #barrier_map_btn_tooltip_triangle #barrier_map_btn_tooltip {
        position: absolute;
        z-index: 999;
        top: -48px;
        right: -2px;
        width: 150px;
        height: 50px;
        transform-origin: 100% 100%;
        transform: rotate(-45deg);
        background-color: #b74ecc;
        color: #fff;
        font-size: 9px;
        font-weight: 700;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 3px 8px;
        text-align: center;
        line-height: 13px;
        letter-spacing: 0.04rem; }
    #main_bottom_menu .bottom_menu_btn #barrier_map_btn_tooltip_triangle.cit_show {
      transform: rotate(45deg) scale(1); }
  #main_bottom_menu #show_barrier_map {
    flex: 0;
    overflow: hidden;
    min-width: 0;
    width: 0;
    min-height: 0;
    height: 30px; }
  #main_bottom_menu #show_barrier_map.cit_show {
    flex: 1;
    overflow: visible;
    min-width: auto;
    width: 30px;
    min-height: auto;
    height: 30px; }

/* PARK LIST PAGE */
/* ////////////////////////////////   CIT GLOBAL PROGRES BAR //////////////////////////////// */
#cit_global_progress_bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  z-index: 555555555;
  pointer-events: none;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  #cit_global_progress_bar #cit_global_precentage {
    background-color: #e84030;
    width: 0%;
    height: 100%;
    border-radius: 2px;
    transition: width 0s ease; }

#cit_global_progress_bar.cit_show {
  opacity: 1; }
  #cit_global_progress_bar.cit_show #cit_global_precentage {
    width: 100%;
    transition: width 20s ease; }

/* ////////////////////////////////  POPUP MESSAGE MODAL //////////////////////////////// */
#layer_under_cit_popup_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999;
  pointer-events: none;
  opacity: 0;
  will-change: opacity;
  background-color: rgba(0, 0, 0, 0.1); }

#layer_under_cit_popup_modal.cit_show {
  pointer-events: all;
  opacity: 1; }
  #layer_under_cit_popup_modal.cit_show #cit_popup_modal {
    pointer-events: all;
    opacity: 1;
    transform: scale(1); }

#cit_popup_modal {
  transition: all 0.4s ease;
  position: relative;
  width: 90%;
  height: auto;
  z-index: 999;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  transform: scale(0.6);
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  opacity: 0;
  overflow: visible; }

#layer_under_cit_popup_modal.cit_show {
  pointer-events: all;
  opacity: 1; }
  #layer_under_cit_popup_modal.cit_show #cit_popup_modal {
    pointer-events: all;
    opacity: 1;
    transform: scale(1); }

#cit_popup_modal_message {
  width: 100%;
  box-sizing: border-box;
  height: auto;
  font-size: 18px;
  letter-spacing: 0.1rem;
  color: #5a5a5a;
  font-weight: 400;
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
  overflow: visible; }
  #cit_popup_modal_message p {
    font-size: 16px; }

#cit_popup_modal_message.cit_error,
#cit_popup_modal_message.cit_pay_error {
  padding: 10px;
  background-color: red;
  color: #fff;
  border-radius: 10px;
  padding-top: 100px;
  position: relative; }
  #cit_popup_modal_message.cit_error p,
  #cit_popup_modal_message.cit_pay_error p {
    font-size: 16px;
    color: #fff; }

#cit_popup_modal_message.cit_pay_error {
  background-color: #012442; }

#cit_popup_modal_message.cit_pay_success,
#cit_popup_modal_message.cit_pay_warning {
  padding: 10px;
  background: #0e68b4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #034072 10%, #0e68b4 50%, #0e68b4 50%, #033966 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #034072 10%, #0e68b4 50%, #0e68b4 50%, #033966 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #034072 10%, #0e68b4 50%, #0e68b4 50%, #033966 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-repeat: no-repeat;
  color: #fff;
  border-radius: 10px;
  padding-top: 100px;
  position: relative; }
  #cit_popup_modal_message.cit_pay_success p,
  #cit_popup_modal_message.cit_pay_warning p {
    font-size: 16px;
    color: #fff; }

#cit_popup_modal_message.cit_error:after {
  content: url(../img/error_modal.png);
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 100000;
  left: 50%;
  top: -70px;
  margin-left: -100px;
  margin-top: 0;
  transform: scale(0.8); }

#cit_popup_modal_message.cit_pay_error:after {
  background-image: url("../img/payment_error_slika.png");
  background-size: 100% 100%;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100000;
  left: 50%;
  top: 10px;
  margin-left: -40px;
  margin-top: 0;
  content: ""; }

#cit_popup_modal_message.cit_pay_success:after {
  background-image: url("../img/payment_success_slika.png");
  background-size: 100% 100%;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100000;
  left: 50%;
  top: 10px;
  margin-left: -40px;
  margin-top: 0;
  content: ""; }

#cit_popup_modal_message.cit_pay_warning:after {
  background-image: url("../img/payment_warning_slika.png");
  background-size: 100% 100%;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100000;
  left: 50%;
  top: 10px;
  margin-left: -40px;
  margin-top: 0;
  content: ""; }

#cit_popup_modal_message.cit_warning {
  padding: 10px;
  background-color: #ffd300;
  color: #000;
  border-radius: 10px;
  padding-top: 40px;
  position: relative; }
  #cit_popup_modal_message.cit_warning p {
    font-size: 16px;
    color: #000; }

#cit_popup_modal_message.cit_warning:after {
  content: url(../img/warning_modal.png);
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 100000;
  left: 50%;
  top: -120px;
  margin-left: -100px;
  margin-top: 0; }

#cit_popup_modal_progress_bar {
  height: 20px;
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden; }

#cit_popup_modal_complete_bar {
  height: 100%;
  float: left;
  background-color: #04b7fe;
  line-height: 20px;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  min-width: 7%;
  box-sizing: border-box;
  transition: width 0.4s ease;
  border-radius: 10px; }

#cit_popup_modal_button_row {
  height: 60px;
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between; }
  #cit_popup_modal_button_row .cit_popup_modal_button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    color: #fff; }
    #cit_popup_modal_button_row .cit_popup_modal_button:active {
      margin-top: 3px;
      box-shadow: 0px 3px transparent; }

#cit_popup_modal_YES {
  background-color: #04b7fe;
  box-shadow: 0px 3px #004996; }

#cit_popup_modal_OK {
  background-color: #04b7fe;
  box-shadow: 0px 3px #029ad6; }

#cit_popup_modal_NO {
  background-color: #e8412f;
  box-shadow: 0px 3px #bf3021; }

/* ////////////////////////////////   MODAL WINDOW  //////////////////////////////// */
.cit_radio_group {
  font-size: 12px;
  color: #fff;
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 10px 0;
  transition: all 0.3s ease; }
  .cit_radio_group .cit_radio_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding-right: 10px; }
    .cit_radio_group .cit_radio_item .cit_radio_circle {
      width: 20px;
      height: 20px;
      border: 1px solid #fff;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      transition: all 0.2s ease 0.1s;
      margin-right: 5px; }
      .cit_radio_group .cit_radio_item .cit_radio_circle .cit_radio_dot {
        width: 8px;
        height: 8px;
        background-color: #00f4ff;
        border-radius: 4px;
        transform: scale(0);
        box-sizing: border-box;
        transition: transform 0.3s ease-in; }
  .cit_radio_group .cit_radio_item.cit_selected .cit_radio_circle {
    border: 3px solid rgba(0, 255, 245, 0.4); }
    .cit_radio_group .cit_radio_item.cit_selected .cit_radio_circle .cit_radio_dot {
      transform: scale(1); }

.cit_radio_group.cit_hide {
  opacity: 0;
  pointer-events: none; }

.cit_disable {
  pointer-events: none;
  opacity: 0.3; }

.account_form_btn {
  background-color: #e8412f;
  color: #fff;
  width: 100%;
  margin: 20px 0 0;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.07rem;
  transform: scale(1); }
  .account_form_btn:active {
    transform: scale(0.95); }

.reg_plate {
  clear: both;
  float: left;
  width: 100%;
  box-sizing: border-box;
  /* padding-left: 8px; */
  font-size: 21px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.1rem;
  height: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease-out; }

#reg_plate_menu_section .reg_plate {
  color: #1a2940; }

.reg_plate.cit_show {
  height: 40px; }

.add_reg_plate_btn {
  display: flex;
  width: 40px;
  margin: 0;
  float: right;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  justify-content: center;
  height: 24px;
  background-color: #2cbcdc; }

.delete_reg_plate_btn {
  display: flex;
  width: 40px;
  margin: 0;
  float: right;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  justify-content: center;
  height: 24px; }

.reg_plate_input {
  text-transform: uppercase; }

#reg_plate_menu_section .reg_plate_input {
  color: #444;
  border-color: #ccc; }

/*# sourceMappingURL=main.css.map */
