@font-face {
    font-family: 'Titillium Web';
    src: url('fonts/subset-TitilliumWeb-ExtraLight.woff2') format('woff2'),
        url('fonts/subset-TitilliumWeb-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('fonts/subset-TitilliumWeb-Italic.woff2') format('woff2'),
        url('fonts/subset-TitilliumWeb-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('fonts/subset-TitilliumWeb-SemiBold.woff2') format('woff2'),
        url('fonts/subset-TitilliumWeb-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('fonts/subset-TitilliumWeb-Regular.woff2') format('woff2'),
        url('fonts/subset-TitilliumWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('fonts/subset-TitilliumWeb-BoldItalic.woff2') format('woff2'),
        url('fonts/subset-TitilliumWeb-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('fonts/subset-TitilliumWeb-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/subset-TitilliumWeb-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('fonts/subset-TitilliumWeb-Light.woff2') format('woff2'),
        url('fonts/subset-TitilliumWeb-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('fonts/subset-TitilliumWeb-Black.woff2') format('woff2'),
        url('fonts/subset-TitilliumWeb-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('fonts/subset-TitilliumWeb-LightItalic.woff2') format('woff2'),
        url('fonts/subset-TitilliumWeb-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('fonts/subset-TitilliumWeb-Bold.woff2') format('woff2'),
        url('fonts/subset-TitilliumWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('fonts/subset-TitilliumWeb-ExtraLightItalic.woff2') format('woff2'),
        url('fonts/subset-TitilliumWeb-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

