@media only screen and (min-width: 200px) and (max-width: 1000px) and (orientation: portrait) {
  #iPhoneX.iPhone_safe_zone,
  #iPhoneXR.iPhone_safe_zone {
    padding-top: 44px;
    padding-bottom: 34px;
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
    background-color: #043f72; }
    #iPhoneX.iPhone_safe_zone .big_page.cit_active,
    #iPhoneXR.iPhone_safe_zone .big_page.cit_active {
      top: 44px;
      left: 0;
      height: calc( 100% - 50px - 78px );
      will-change: transform; }
    #iPhoneX.iPhone_safe_zone #main_bottom_menu,
    #iPhoneXR.iPhone_safe_zone #main_bottom_menu {
      bottom: 0;
      box-sizing: content-box;
      padding-bottom: 34px; }
    #iPhoneX.iPhone_safe_zone #park_place_info,
    #iPhoneXR.iPhone_safe_zone #park_place_info {
      height: calc(50% - 40px); }
    #iPhoneX.iPhone_safe_zone #we_directions_panel_wrapper,
    #iPhoneXR.iPhone_safe_zone #we_directions_panel_wrapper {
      bottom: 34px; }
    #iPhoneX.iPhone_safe_zone #we_side_nav #side_nav_content,
    #iPhoneXR.iPhone_safe_zone #we_side_nav #side_nav_content {
      padding-top: 50px; }
    #iPhoneX.iPhone_safe_zone #we_side_nav #side_nav_content #screen_size_and_ver,
    #iPhoneXR.iPhone_safe_zone #we_side_nav #side_nav_content #screen_size_and_ver {
      bottom: 50px; }
    #iPhoneX.iPhone_safe_zone #park_place_page.cit_active #park_place_image_box #park_page_curve,
    #iPhoneXR.iPhone_safe_zone #park_place_page.cit_active #park_place_image_box #park_page_curve {
      bottom: 10px; }
    #iPhoneX.iPhone_safe_zone #popup_reklama_za_barijere,
    #iPhoneXR.iPhone_safe_zone #popup_reklama_za_barijere {
      top: 44px;
      box-sizing: border-box;
      height: calc(100% - 78px); }
    #iPhoneX.iPhone_safe_zone #barrier_map,
    #iPhoneXR.iPhone_safe_zone #barrier_map {
      top: 44px;
      box-sizing: border-box;
      height: calc(100% - 78px); }

  #iPhone .big_page {
    padding-top: 20px;
    box-sizing: border-box;
    background-color: #034072; }
  #iPhone #park_place_page.cit_active #park_place_image_box #park_page_curve {
    bottom: 20px; } }
@media only screen and (min-width: 200px) and (max-width: 1000px) and (orientation: landscape) {
  #iPhoneX.iPhone_safe_zone,
  #iPhoneXR.iPhone_safe_zone {
    padding-top: 0px;
    padding-bottom: 21px;
    padding-left: 44px;
    padding-right: 44px;
    box-sizing: border-box;
    background-color: #043f72; }
    #iPhoneX.iPhone_safe_zone .big_page.cit_active,
    #iPhoneXR.iPhone_safe_zone .big_page.cit_active {
      top: 0px;
      left: 44px;
      height: calc( 100% - 50px );
      width: calc( 100% - 88px );
      will-change: transform; }
    #iPhoneX.iPhone_safe_zone #main_bottom_menu,
    #iPhoneXR.iPhone_safe_zone #main_bottom_menu {
      bottom: 0px; }
    #iPhoneX.iPhone_safe_zone #park_place_info,
    #iPhoneXR.iPhone_safe_zone #park_place_info {
      height: calc(50% - 40px); } }

/*# sourceMappingURL=we_iphone.css.map */
